<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style.css" />
    <link rel="shortcut icon" href="http://bit.ly/ghfavicon" width="32px" />
    <link
      href="https://fonts.googleapis.com/css?family=Crimson+Text"
      rel="stylesheet"
    />
    <title>TITLE</title>
  </head>
  <body>
    <h1>MAIN HEADER</h1>
    <div id="toc"></div>
    <article>
      <p>P1</p>

      <h2 id="h-1" slot="h-1">content1</h2>
      <p></p>

      <h3 id="sh-1-1" slot="sh-1-1">1.1</h3>
      <p></p>
      <blockquote></blockquote>
      <p></p>

      <h2 id="h-2" slot="h-2">content2</h2>
      <p></p>

      <h2 id="h-3" slot="h-3">content3</h2>
      <p></p>

      <h2 id="h-4" slot="h-4">content4</h2>
      <p></p>

      <h3 id="sh-4-1" slot="sh-4-1">4.1</h3>
      <p></p>

      <h3 id="sh-4-2" slot="sh-4-2">4.2</h3>
      <p></p>

      <h3 id="sh-4-3" slot="sh-4-3">4.3</h3>
      <p></p>
    </article>

    <template>
      <ul>
        <li>
          <a href="#h-1"><slot name="h-1"></slot></a>
          <ul>
            <li>
              <a href="#sh-1-1"><slot name="sh-1-1"></slot></a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#h-2"><slot name="h-2"></slot></a>
        </li>
        <li>
          <a href="#h-3"><slot name="h-3"></slot></a>
        </li>
        <li>
          <a href="#h-4"><slot name="h-4"></slot></a>
          <ul>
            <li>
              <a href="#sh-4-1"><slot name="sh-4-1"></slot></a>
            </li>
            <li>
              <a href="#sh-4-2"><slot name="sh-4-2"></slot></a>
            </li>
            <li>
              <a href="#sh-4-3"><slot name="sh-4-3"></slot></a>
            </li>
          </ul>
        </li>
      </ul>
      <style>
        ul {
          list-style: none;
        }
        ul:not(li > ul) {
          padding-left: 0;
        }
        a:link {
          color: inherit;
        }
      </style>
    </template>
    <script src="script.js"></script>
  </body>
</html>
